name: "Sync GHAS to Jira"

on: workflow_dispatch

jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - name: Sync alerts to Jira issues
        uses: github/ghas-jira-integration@v1
        with:
          jira_url: 'https://yuukie.atlassian.net/'
          jira_user: '${{ secrets.JIRA_USER }}'
          jira_token: '${{ secrets.JIRA_TOKEN }}'
          jira_project: 'WEB'
          github_tokn: '${{ secrets.ACCESS_TOKEN }}'
          sync_direction: 'gh2jira'
